/* .App {
  text-align: center;
} */
.recipe-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 2rem auto;
}
.recipe-form input,
textarea {
  margin: 1rem 0;
}
.error_msg {
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}

.recipe .delete_btn {
  float: right;
  text-align: center;
  text-transform: uppercase;
}
.recipe .card {
  margin-top: 1.5rem;
}
